.navbar {
  background-color: #53537d;
  padding: 1rem;
  max-width: 120rem;
}

.logoSection {
  display: flex;
  align-items: center;
}

.logoSection img {
  width: 4rem;
  margin-right: 1rem;
}

.logoSection h1 {
  color: white;
  font-size: 1.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
  gap: 1rem;
}
.nav-link {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navbar-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* New styles for centering links */
.center-links {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

/* New styles for auth links */
.auth-links {
  display: flex;
  align-items: center;
  padding-right: 2rem;
}
.nav-link,
.login,
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  text-decoration: none;
}
.img {
  width: 4.5rem;
  border-radius: 50%;
  margin-left: 1rem;
  cursor: pointer;
}
.user-logout:hover {
  color: rgb(33, 192, 255);
}

.nav-link.active,
.login.active,
.signup.active {
  color: rgb(0, 154, 216);
  border: rgb(0, 154, 216);
}
.Auth-link {
  padding-right: 3rem;
}
.login {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.823);
  font-size: 1.3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.Auth-link button {
  background-color: transparent;
  border: rgba(255, 255, 255, 0.684) solid 1px;
  border-radius: 5px;
  padding: 5px;
}
